#ignore data dirs
.data/
*/data/
data/

#ignore ipynb checkpoints
.ipynb_checkpoints/

#ignore slurm output files
*.err*
*.out*

#ignore swap files
*.swp

#ignore saved models
*.pt

#ignore pycache
__pycache__/

#ignore logs
logs/
*/logs/
